*{
    font-family: 'Open Sans';
}

h1, h2 {
    font-size: 1.5em;
    text-align: center;
}

p{
    text-align: center;
}

#title{
    font-size:45px;
    font-weight: bold;
    text-align:center;
}

.vis-container{
    width: 100%;
    margin: 0 auto; 
    background-color: red;
    display: inline-block;
    align-items: center;
  }

.l-box {
    padding: 2em;
    }
  
#map{
    width: 75%;
    margin: 0 auto;
    }

.page{
    background-color: lightblue;
    margin: 0 auto;
}

.description h2, h1{
    margin-top: 0px;
}

.middle{
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 0.4em;
    padding-bottom:0.4em;
}

.inner {
    background-color: #cad2d3b8; 
    padding-left: 5em;
    padding-right:5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-bottom: 2em;
  }
