*{
    font-family: 'Open Sans';
}

h1, h2 {
    font-family: 'Roboto';
    text-align: center;
}

p{
    text-align: center;
}

.page{
    background-color: #00b2ca;
    margin: 0 auto;
}

.description h1, h2{
    margin-top: 0px;
}

.middle{
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 0.4em;
    padding-bottom:0.4em;
}

.inner {
    background-color: #3895d3; 
    padding-left: 5em;
    padding-right:5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-bottom: 2em;
  }
